.outerPane{
    -fx-background: transparent;
}

.expansionPanel {
    -fx-border-color: rgba(243,218,218,1);
    -fx-background-color: rgba(71,158,224,1);

}

.innerPane {
    -fx-background: transparent;
}


.lblEventTitle {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);

}

.lblEventDay {
   -fx-font-size: 70;
   -fx-font-weight: bold;
   -fx-text-fill: rgba(243,218,218,1);
}

.lblMonthAndYear {
    -fx-font-size: 23;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);
}

.lblStartTime {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);
}

.lblLocation {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);
}


.txtEventDescription  {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}
.txtEventDescription > .scroll-pane {
    -fx-background-color: transparent;
}
.txtEventDescription > .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.txtEventDescription > .scroll-pane .content{
    -fx-background-color: transparent;
}

.btnChooseImage {
    -fx-background-radius: 15px;
}

.btnSaveEvent {
    -fx-background-radius: 15px;
}

.lblCreateEvent {
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);
}
.lblSignIn {
    -fx-font-size: 48;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);

}
.txtTitleOfEvent  {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.txtEventStartTime {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.txtLocation {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.txtEventOwner {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.txtEventCollaborator {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}

.datePicker {
    -fx-font-size: 25;
}

.cbIsActive {
    -fx-font-size: 25;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);
}

.scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}
#indexBackground {
    fx-background-color: rgba(52,40,72,1);
}

.lblSignIn {
    -fx-font-weight: bold;
    -fx-text-fill: rgba(243,218,218,1);
}

.btnTopButtons {
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 22 22 0 0;
    -fx-background-color: rgba(243,218,218,1);
    -fx-border-color: black;
    -fx-border-width: 3;
}

.btnLogin {
    -fx-background-radius: 15px;
}

.txtLogIn{
    -fx-background-radius: 15;
    -fx-border-radius: 15;
}